@import colors 

.blog 
    header
        margin: 5em 0
        h1 
            font-size: 4em
            margin: 0
        h2 
            color: $gray-main
    .blog-list 
        img 
            width: 100%