import _colors
a.fa 
    &:hover 
        text-decoration: none !important
.btn-more-conf
    color: $gray-medium 
    text-decoration: none 
    transition: all 0.5s ease
    &:hover 
        padding-top: .5em