@import colors 

.homeconf
    .title 
        text-align: center 
        font-size: 2em
        margin: 0
    .subtitle 
        text-align: center 
        color: $gray-medium

.startconf 
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%)
    border-top: 1px solid $blue-dark
    border-bottom: 1px solid $blue-dark
    margin-bottom: 2em
    padding: 4em 0
    color: $white-main 
    text-align: center
    input[type='text']
        width: calc(100% - .4em)
        font-size: 3em
        padding: .2em
        margin: 0 auto
        color: $white-main
        background: transparent
        border: none 
        border-bottom: 3px solid $white-main
        text-align: center
        -webkit-transition: all 0.3s ease
        -moz-transition: all 0.3s ease
        -ms-transition: all 0.3s ease
        &::-webkit-input-placeholder /* Chrome/Opera/Safari */
            color: $white-transparent
        &::-moz-placeholder /* Firefox 19+ */
            color: $white-transparent
        &:-ms-input-placeholder /* IE 10+ */
            color: $white-transparent
        &:-moz-placeholder /* Firefox 18- */
            color: $white-transparent
        &:focus 
            outline: 0
            font-size: 5em

.startconf-recommendation
    ul
        padding: 0
        li
            list-style: none
            padding: .5em
            background: #FFF
            // width: 100%
            margin-bottom: .5em
            &:hover, &.active
                background: $blue-medium
                cursor: pointer
                a
                    color: $white-main
            a:hover
                text-decoration: none


.startconfhelp
    margin-bottom: 8em 
    text-align: center
    a 
        color: $blue-medium
        font-size: 1.5em 
        display: inline-block 
        margin-right: 1em
        text-decoration: none
        &:hover 
            text-decoration: underline

.availableconf, .wipconf
    margin-bottom: 4em
    text-align: center 
    a.logo-partner 
        display: inline-block
        margin: .3em 1em
        img 
            height: 30px

.wipconf
    img 
        -webkit-filter: grayscale(100%)
        filter: grayscale(100%)

.config 
    header 
        margin: 5em 0 
        h1 
            font-size: 4em
            margin: 0
        h2 
            color: $gray-main
            a
                color: $gray-medium

// create conf
.createconf
    header
        h2 
            font-weight: normal
    code 
        display: block 
        line-height: 1.5 
        border: 1px solid $gray-medium 
        border-radius: 10px
        color: $gray-medium
        font-family: roboto
        padding: 1em
    
// commands    
.commands
    margin-top: 5px
    cursor: pointer
    .command 
        transition: all .8s ease
        display: inline-block
        background: $blue-medium
        color: $blue-super-dark
        padding: .5em 
        border-radius: .5em
        margin-bottom: .3em
        &:hover 
            color: $white-main
            background: $red-main
            &:after 
                content : 'x'
                padding-left: 5px
                color: $white-transparent

