@import _colors

.createconf-form 
    .createconf-form-control
        margin-bottom: 2em
        label 
            font-size: 2em
            margin-bottom: 0.5em 
            display: block
        input 
            padding: 1em 0
            width: -webkit-fill-available
            font-size: 1em
            border: none
            border-bottom: .1em solid $gray-medium
            color: $gray-medium
            &:focus
                color: $blue-medium
                outline: 0
                border-color: $blue-medium   

