.container
    footer.grid 
        .col-12
            hr
        .col-6
            ul.horizontal-list.text-left
                li 
                    | DoConfig &copy; 2017 IdMore Team
                li 
                    a(href="#") About
                li 
                    a(href="#") How to Use
                li 
                    a(href="#") Term of use
                li 
                    a(href="#") Blog
        .col-6 
            ul.horizontal-list.text-right
                li 
                    a(href="#") Contact
                li 
                    a(href="#") Term of use