nav.header
    .container
        .grid
            .p-0.col-12
                a.logo(href="/")
                    img(src="images/logo-header-white.png")
                ul.horizontal-list 
                    li 
                        a(href="#") Start Config
                    li.active 
                        a(href="#") Blog
