.container.config
    .grid
        .col-12 
            header.createconf
                h1 #{title}
                h2 #{description}&nbsp;
                    a(href=link_url target="_blank") #{link_text}