extends layouts/default
block title
    title Page Not Found - DoConfig, Create Config in Seconds

block content
   .container.blog 
        .grid.text-center
            .col-12 
                header
                    h1 404
                    h2 Page Not Found
                    br 
                    button.btn.btn-white.btn-lg Back to Home
            
