extends layouts/default
block title
    title Create Dockerfile - DoConfig, Create Config in Seconds

block content
    .createconf
        //- subheader
        - 
            let title = 'Create Dockerfile'
            let description = 'Docker can build images automatically by reading the instructions from a Dockerfile. A Dockerfile is a text document that contains all the commands a user could call on the command line to assemble an image. Using docker build users can create an automated build that executes several command-line instructions in succession.'
            let link_url = 'https://docs.docker.com/engine/reference/builder/'
            let link_text = 'More about Dockerfile'
        include components/subheader-conf

        section
            .container-md
                .grid
                    .col-12
                        .createconf-form 
                            //- image
                            .createconf-form-control
                                label IMAGE FROM 
                                input(type='text' placeholder='for example: ubuntu, nodejs-slim')
                                small 
                                    strong IMAGE&nbsp;
                                    | is based on 
                                    a(href="https://hub.docker.com/" target="_blank") Docker Hub

                            .createconf-form-control.readonly
                                label IMAGE FROM (sample readonly)
                                input(type='text' placeholder='for example: ubuntu, nodejs-slim')
                                small 
                                    strong IMAGE&nbsp;
                                    | is based on 
                                    a(href="https://hub.docker.com/" target="_blank") Docker Hub

                            //- run
                            .createconf-form-control.commands-form-control
                                label RUN 
                                input(type='text' placeholder='for example: apt-get update -y')

                                //- list setup command
                                .commands.active
                                    each n in ['apt-get update -y && apt-get autoremove -y', 'apt-get install -y supervisor', 'apt-get autoremove -y', 'build ./cfg/maxready', 'powerless infrared -p mask']
                                        .command
                                            | RUN: #{n}
                                small 
                                    strong RUN&nbsp;
                                    | Actually runs a command and commits the result. Make sure to write command in sequentially.
                            
                            //- sample empty run 
                            .createconf-form-control.commands-form-control
                                label RUN (sample if empty)
                                input(type='text' placeholder='for example: apt-get update -y')

                                .commands.active
                                small
                                    strong RUN&nbsp;
                                    | Actually runs a command and commits the result. Make sure to write command in sequentially.

                            //- copy
                            .createconf-form-control
                                label COPY
                                .grid 
                                    .col-6
                                        p 
                                            Source 
                                        input(type='text' placeholder='example: /src/data') 
                                    .col-6
                                        p
                                            Destination 
                                        input(type='text' placeholder='example: /var/www/data')
                                .commands
                                    each n in ['"/dist" "/home/user/web"']
                                        .command
                                            | COPY: #{n}
                                small Make sure to write command in sequentially

                            //- CMD
                            .createconf-form-control.commands-form-control
                                label CMD 
                                input(type='text' placeholder='for example: apt-get update -y')

                                //- list setup command
                                .commands.active
                                    each n in ['apt-get update -y && apt-get autoremove -y', 'apt-get install -y supervisor', 'apt-get autoremove -y', 'build ./cfg/maxready', 'powerless infrared -p mask']
                                        .command
                                            | RUN: #{n}
                                small 
                                    strong RUN&nbsp;
                                    | There can only be one 
                                    strong CMD 
                                    | instruction in a Dockerfile. If you list more than one 
                                    strong CMD 
                                    | then only the last 
                                    strong CMD 
                                    | will take effect.

                //- generate button
                .align-center
                    button.btn.btn-lg.btn-white(type='button') Generate Dockerfile
                    .m-sm
                                    
