extends layouts/default
block title
    title Create Gruntfile - DoConfig, Create Config in Seconds

block content
    .createconf
        //- subheader
        - 
            let title = 'Create Gruntfile'
            let description = 'Grunt is basically a Javascript build / task manager written on top of NodeJS.'
            let link_url = 'https://gruntjs.com'
            let link_text = 'More about Grunt'
        include components/subheader-conf