extends layouts/default
block title
    title Create Config Heroku - DoConfig, Create Config in Seconds

block content
    .container.config
        .grid
            .col-12 
                header
                    h1 Create config Heroku
                    h2 Heroku is bla bla bla and ready to go.&nbsp;
                        a(href="https://devcenter.heroku.com/articles/procfile" target="_blank") Read Heroku conf official docs 